<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %}Adopt A Friend{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a href="#" class="navbar-brand">Adopt A Friend</a>
<button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a href="/" class="nav-link">All Pets</a>
    </li>
    <li class="nav-item active">
        <a href="/add-pet" class="nav-link">Add Pet Listing</a>
    </li>
</ul>
</div>
</nav>
{% endblock %}
    <div class="container mt-2">
    <div class="justify-content-left">
    {% block content %}
    {% with messages = get_flashed_messages() %}
    <small class="text-success">
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    </small>
    {% endwith %}
    <div class="row">
        {% for pet in pets %}
        <div class="col-6">
            <h2 class="{{pet.id}} display-4">{{pet.name}}</h3>
            <img src="{{pet.photo_url}}" class="img-thumbnail" alt="A photo of {{pet.name}}, a pet available for adoption at Adopt a Friend" style="height: 200; width: 200;">
            <p class="full-info">
                {{pet.get_info}}
            </p>
            <p class="available">{{pet.name}}'s availability: {% if pet.available %} <b class="font-weight-bold text-success">AVAILABLE</b> {% else %} <small class="font-weight-bold text-danger">NOT AVAILABLE</small> {% endif %} </p>
            <a href="/details/{{pet.id}}" class="btn btn-info">Show Details</a>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    </div>
    </div>
    <footer class="scripts">
        {% block footer %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </footer>
</body>
</html>